lancedb==0.26.1
pyyaml==6.0.3
sentence-transformers==5.2.0
langchain-text-splitters==1.1.0
langchain-docling==2.0.0
tqdm==4.67.1
pydantic==2.12.5
mcp==1.25.0
docling==2.67.0
typer>=0.15.0
rich==13.7.0
einops